.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
}

.window {
    width: 500px;
    height: 300px;
    margin: 20px auto 0 auto;
    overflow: hidden;

}

/**/

.window > .images {
    position: relative;
}

.window > .images > img {
    width: 100%;
    transition: all .3s; 
    position: absolute;
    top: 0;
}

/* 调整transform属性可改变轮播样式  */
.window > .images > img.display {
    left: 0;
    z-index: 1;
    transform: translateX(0);
}

.window > .images > img.dequeue {
    z-index: 1;
    transform: translateX(-100%);
}

.window > .images > img.queue {
    transform: translateX(100%);
}

/*      */

.switch {
    text-align: center;
}

.switch > svg {
    width: 2.4em;
    height: 2.4em;
    fill: grey;
}

.switch > svg:hover {
    fill: black;
}


