.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
}

.window {
    width: 500px;
    height: 300px;
    margin: 20px auto 0 auto;
    overflow: hidden;

}

/**/

.window > .images {
    position: relative;
}

.window > .images > img {
    transition: all .3s; 
    width: 100%;
    
}

.window > .images > img:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
}

.window > .images > img:nth-child(2) {
    position: absolute;
    top: 0;
    left: 100%;
}

.window > .images > img:nth-child(3) {
    position: absolute;
    top: 0;
    left: 100%;
}

.window > .images > img:nth-child(4) {
    position: absolute;
    top: 0;
    left: 100%;
}

.window > .images > img:nth-child(5) {
    position: absolute;
    top: 0;
    left: 100%;
}

.window > .images > img.right {
    position: absolute;
    top: 0;
    left: 100%;
}

/*      */
.switch {
    text-align: center;
}

.switch > svg {
    width: 2.4em;
    height: 2.4em;
    fill: grey;
}

.switch > svg:hover {
    fill: black;
}


