.token.selector { 
    color: black; 
}

.token.property { 
    color: black;
}

.token.function {
    color: black;
}

@keyframes board {
    0% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes breath{
    0%{
      box-shadow: 0 0 10px rgba(0,0,0,1)
    }
    100%{
      box-shadow: 0 0 10px rgba(0,0,0,0.2)
    }
  }

.html.markdown-body {
    position: absolute;
    right: 0;
    width: 48vw;
    height: 96vh;
    background: white;
    border: 10px solid black;
    animation: 1.2s board;
    margin: 8px;
    padding: 10px;
    overflow: auto;
}