* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background: wheat url(img/background.jpg) no-repeat;
    background-size: cover;
}

main {
    text-align: center;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

main > .wrapper {
    display: inline-block;
    background: rgba(0,0,0,.2);
    border-radius: 12px;
}

.row {
    margin: 20px;
}

.row kbd {
    margin: 4px 8px;
}

kbd {
    color: #C5C5C5;
    font-size: 18px;
    width: 3.2em;
    height: 2.6em;
    text-transform: uppercase;
    border: 1px solid #373737;
    border-radius: 6px;
    background: linear-gradient(to bottom, #292929 0%,#111111 100%);
    box-shadow: 0 0 0 1px #1A1B1C, 0 0 0 2px #1F2020, 0 3px 0 2px #080808;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

kbd > span {
    position: absolute;
    top: 2px;
    left: 4px;
}

kbd > button {
    position: absolute; 
    right: 0; 
    bottom: 0; 
    display: none;
}

kbd:hover > button {
    display: inline-block;
}

kbd > img {
    width: 16px;
    height: 16px;
    border-radius: 1px;
    position: absolute;
    left: 2px;
    bottom: 2px;
}