* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #EFEFEF;
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,ol {
    list-style: none;
}

hr {
    height: 0;
    border: none;
    border-top: 1px solid #dedede;
}

/* https://iconfont.cn */
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/* topNavBar */
.topNavBar {
    padding: 20px 0 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.topNavBar-inner {
    padding: 0 16px;
}
.topNavBar nav{
    float: right;
}
.topNavBar nav > ul {
    list-style: none;
    margin-top: 10px;
}
.topNavBar nav > ul > li {
    float: left;
    margin-right: 17px;
    margin-left: 17px;
}
.topNavBar nav > ul >li > a {
    font-size: 12px;
    font-weight: bold;
    color: #c0c2c5;
    border-bottom: 3px solid transparent;
    padding-bottom: 11px;
    display: block;
}
.topNavBar nav > ul >li > a:hover {
    border-bottom: 3px solid #e8676b;
}

.topNavBar .logo {
    font-size: 24px;
    font-family: 'Arial Black';
    float: left;
}
.topNavBar .logo .rs {
    margin-right: 2px;
    color: #e8676b;

}
.topNavBar .logo .card {
    color: #9a9da2;
}

/* banner */
.banner {
    background-image: url(./imgs/rs-cover-2-2-1-1.jpg);
    height: 515px;
    background-position: center center;
    background-size: cover;
}
.banner .mask {
    height: 515px;
    background-color: rgba(0,0,0,0.8);
}


/* main */
body > main {
    margin-top: -350px;
}

/* userCard */
.userCard {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.4);
}
.userCard .welcome {
    background-color: #e8676b;
    color: white;
    display: inline-block;
    padding: 4px 16.5px;
    line-height: 22px;
    position: relative;
    margin-bottom: 10px;
}
.userCard .triangle {
    display: block;
    border: 8px solid transparent;
    width: 0;
    border-left-color: #e8676b;
    border-top-width: 0px;
    position: absolute;
    left: 4px;
    top: 100%;
}
.userCard .picture {
    float: left;
    margin-right: 65px;
}
.userCard .text {
    float: left;
    width: 450px;
}
.userCard .pictureAndText {
    padding: 50px;
}
.userCard .text h1 {
    margin-top: 18px;
}
.userCard .text hr {
    margin: 20px 0;
}
.userCard dl dt,
.userCard dl dd {
    float: left;
    padding: 5px 0;
}
.userCard dl dt {
    width: 30%;
    font-weight: bold;
}
.userCard dl dd {
    width: 70%;
    color: #9da0a7;
}
.userCard footer.media {
    background-color: #e8676b;
    text-align: center;
}
.userCard footer.media > a {
    display: inline-block;
    width: 40px;
    line-height: 30px;
    padding: 5px 0;
    border-radius: 50%;
    margin: 16px;
}
.userCard footer.media > a:hover {
    background-color: #d05c60;
}
.userCard svg {
    width: 30px;
    height: 30px;
    fill: white;
    vertical-align: top;
}

/* downloadResume */
body > main .downloadResume-Wrapper  {
    text-align: center;
}
body > main .downloadResume {
    border: 1px solid #cbcdcf;
    border-radius: 3px;
    font-size: 14px;
    padding: 21px 55px;
    line-height: 16px;
    display: inline-block;
    color: #3d4451;
    font-weight: bold;
    margin: 33px 0;
    transition: box-shadow 0.2s;
}
body > main .downloadResume:hover {
    box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.2);
}
body > main .selfIntroduction {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'ZCOOL QingKe HuangYou',cursive;
    font-size: 18px;
    line-height: 1.8;
    letter-spacing: 3px;
}


/* section */
section.skills,
section.portfolio {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
section.skills h2,
section.portfolio h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}
section.skills h3{
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px;
}
section.skills ol {
    background-color: white;
    box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.2);
    padding: 40px 50px 10px;
}
section.skills ol > li {
    float: left;
    width: 48%;
    box-sizing: border-box;
}
section.skills ol > li:nth-child(even){
    float: right;
}

/* progress */
section.skills .progressBar {
    height: 5px;
    background-color: #fae1e1;
    border-radius: 3px;
    margin: 4px 0 40px;
}
section.skills .progressBar > .progress{
    height: 100%;
    width: 50%;
    background-color: #e8676b;
    border-radius: 3px;
}

section.portfolio {
    text-align: center;
}
section.portfolio > nav {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 30px;
}
section.portfolio nav ol {
    display: inline-block;
    vertical-align: top;
}
section.portfolio > nav > ol > li{
    float: left;
    margin-left: 40px;
    cursor: pointer;
}
section.portfolio > nav > ol > li:first-child{
    margin-left: 0;
}

section.portfolio > nav .bar{
    height: 5px;
    background: white;
    border-radius: 3px;
    margin-top: 5px;
}
section.portfolio > nav .bar-inner{
    height: 100%;
    background: #E6686A;
    border-radius: 3px;
    transition: all 0.3s; 
}

section.portfolio > nav .bar.state-1 .bar-inner{
    margin-left: 0;
    width: 40px;
}
section.portfolio > nav .bar.state-2 .bar-inner{
    margin-left: 65px;
    width: 50px;
}
section.portfolio > nav .bar.state-3 .bar-inner{
    margin-left: 140px;
    width: 96px;
}

section.portfolio .works{
    position: relative;
    height: 600px;
}
section.portfolio .works > .big,
section.portfolio .works > .smallRU,
section.portfolio .works > .smallRD {
    position: absolute;
}
section.portfolio .works > .big {
    top: 0; 
    left: 0
}
section.portfolio .works > .smallRU {
    top: 0; left: 645px;
}
section.portfolio .works > .smallRD {
    top: 312px; left: 645px;
}
