/*任务:使用link完成更换背景*/

.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}

body {
    margin: 0;
    overflow: hidden;
}

#canvas {
    background: #b2f5ff;
}

.actions {
    position: fixed;
    padding: 15px;
    left: 0;
    top: 0;
}

.actions > svg {
    width: 1.6em;
    height: 1.6em;
    margin: 0 6px;
    cursor: pointer;
    fill: rgba(0,0,0,.5);
    transition: all 0.3s;
}

.actions > svg.active {
    fill: black;
    transform: scale(1.2);
}
