@keyframes loading {
    0% {
        width: 0px;
        height: 0px;
        opacity: 1;
    }

    100% {
        width: 50px;
        height: 50px;
        opacity: 0;
    }
}

.site-loading {
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.site-loading.active {
    display: flex;
}

.loading {
    width: 100px;
    height: 100px;
    position: relative;
}

.loading::before,
.loading::after {
    content: '';
    width: 0px;
    height: 0px;
    background: grey;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    animation: loading infinite linear 1.5s;
}

.loading::after {
    animation-delay: 0.8s;
}