* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background: rgba(166, 189, 201, 1.0);
    background: radial-gradient(ellipse at center, rgba(166, 189, 201, 1.0), rgba(24, 217, 229, 1.0));
}

header {
    height: 180px;
}

main {
    text-align: center;
}

kbd {
    color: rgb(90, 104, 116);
    width: 4.4em;
    height: 4.4em;
    margin-right: 2px;
    border: 1px solid #fce38a;
    border-radius: 4px;
    display: inline-block;
    text-transform: uppercase;
}

kbd:hover {
    box-shadow: 0px 0px 2px 2px rgba(255,0,0,0.2);
}

main > .wrapper  {
    display: inline-block;
    background: rgba(255,255,255,0.2);
    box-shadow: 0px 0px 1px 1px rgba(82,79,82,0.2);
    border-radius: 10px;
    padding: 20px 40px;
}

main > .wrapper > div:nth-child(2),
main > .wrapper > div:nth-child(3) {
    margin-top: 3px;
}

main > .wrapper > div:nth-child(2) > kbd {
    border: 1px solid #eaffd0;
}

main > .wrapper > div:nth-child(3) > kbd {
    border: 1px solid #95e1d3;
}

main > #kbdWrapper > div > kbd {
    position: relative;
}

kbd > button {
    position: absolute; 
    right: 0; 
    bottom: 0; 
    display: none;
}

kbd:hover > button {
    display: inline-block;
    background: inherit;
}